<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Concise Summary</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Summarise your content . . .</h1>
    <div class="container">
      <div class="pdf">
        <form
          class="pdf-form"
          action="/summarizePdf"
          method="post"
          enctype="multipart/form-data"
        >
          <div style="margin-top: 30px; margin-bottom: 40px">
            <label for="file">Upload PDF:</label>
          </div>
          <div style="margin-bottom: 20px">
            <input type="file" id="file" name="file" accept=".pdf" required />
          </div>
          <button type="submit">Summarize</button>
        </form>
      </div>

      <div class="web">
        <form action="/scrape" method="post">
          <div style="margin-top: 30px">
            <label for="url">Enter URL:</label>
          </div>
          <div style="margin-top: 85px; margin-bottom: 53px">
            <input type="url" id="url" name="url" required />
          </div>
          <button type="url">Scrape</button>
        </form>
      </div>
    </div>
    <div class="output"></div>
  </body>
</html>
